.root {
  width: 100%;
  position: relative;

  .input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  .controls {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    .loader {
      display: none;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 11px 0;
      box-sizing: border-box;

      &.show {
        display: flex;
      }
    }

    .clear {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 5px 10px 10px;
      box-sizing: border-box;
      cursor: pointer;

      &::before {
        content: "𐄂";
        font-size: 20px;
      }
    }
  }
}
